.Card{
  margin-top: 20px;
  margin-left: 7vh;
  display: flex;
  align-items: center;
  border-bottom: .5px solid grey;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.card-img{
  margin-right: 20px;
  border-radius: 10px;
  height: 270px;
  width: 200px;
  object-fit: cover;
}

.card-title{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

.location-container{
  display: flex;
  align-items: center;
}

.card-icon{
  margin-top: 40px;
  margin-right: 8px;
  width: 15px;
  height: 20px;
}

.cdate{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: -10px;
}

.clocation{
  margin-bottom: -20px;
}

.cname{
  margin-top: -.5px;
  font-size: 40px;
}

